<!DOCTYPE html>
<html>
    <head>
        <title>MY App</title>
    </head>
    <body>
        <div id="root"><%- markup %></div>
        <script src="vendor.js"></script>
        <script src="bundle.js"></script>
    </body>
</html>
